### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing
from sklearn.metrics import accuracy_score

### Importing Datasets

In [2]:
audi = pd.read_csv('audi.csv')

In [3]:
audi.head(2)

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0

In [4]:
audi['transmission'].value_counts()

Manual       4369
Semi-Auto    3591
Automatic    2708
Name: transmission, dtype: int64

In [5]:
audi['fuelType'].value_counts()

Diesel    5577
Petrol    5063
Hybrid      28
Name: fuelType, dtype: int64

In [6]:
def encode_trans(df):
    mapping = {"Manual": 0, "Semi-Auto": 1,"Automatic":2}
    return df.replace({'transmission': mapping})

In [7]:
def encode_fuel(df):
    mapping = {"Diesel": 0, "Petrol": 1,"Hybrid":2}
    return df.replace({'fuelType': mapping})

In [8]:
def transform_features(df):
    df = encode_trans(df)
    df = encode_fuel(df)
    return df

In [9]:
audi.head(2)

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0

In [10]:
train = audi[['model','year','price','transmission','mileage','fuelType','tax','mpg','engineSize']]

In [11]:
train = transform_features(train)
train.head(3)

  model  year  price  transmission  mileage  fuelType  tax   mpg  engineSize
0    A1  2017  12500             0    15735         1  150  55.4         1.4
1    A6  2016  16500             2    36203         0   20  64.2         2.0
2    A1  2016  11000             0    29946         1   30  55.4         1.4

In [12]:
train.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [13]:
X_all = train.drop(['price','model'],axis=1)
y_all = train['price']

In [14]:
num_test=0.20
X_train, X_test, y_train, y_test = train_test_split(X_all,y_all, test_size=num_test, random_state=42)

In [15]:
clf = RandomForestRegressor()
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)

In [16]:
def Predict_price(Year,Transmission,Mileage,FuelType,Tax,Mpg,EngineSize):
    df = pd.DataFrame.from_dict({'year':[Year],'transmission':[Transmission],'mileage':[Mileage],
                                'fuelType':[FuelType],'tax':[Tax],'mpg':[Mpg],'engineSize':[EngineSize]})
    df = encode_fuel(df)
    df = encode_trans(df)
    pred = clf.predict(df)[0]
    return pred

In [17]:
import gradio as gr

In [18]:
train.head(2)

  model  year  price  transmission  mileage  fuelType  tax   mpg  engineSize
0    A1  2017  12500             0    15735         1  150  55.4         1.4
1    A6  2016  16500             2    36203         0   20  64.2         2.0

In [19]:
Transmission = gr.inputs.Radio(['Manual', 'Semi-Auto','Automatic'], label="transmission")
FuelType = gr.inputs.Radio(['Diesel', 'Petrol','Hybrid'], label="fuelType")

In [20]:
face = gr.Interface(fn=Predict_price,inputs=['number',Transmission,
                                             'number',FuelType,
                                            'number','number','number'],outputs=['text'])
face.launch()

C:\Users\DELL\anaconda3\lib\site-packages\gradio\utils.py:38: UserWarning: unable to connect with package URL to collect version info.
  warnings.warn("unable to connect with package URL to collect version info.")

Running on local URL:  http://127.0.0.1:7860/

To create a public link, set `share=True` in `launch()`.

(<Flask 'gradio.networking'>, 'http://127.0.0.1:7860/', None)